<div class="container" id="text-display-container">
  <div id="story-information">Category: {{ story.storyCategory }}, Size: {{ story.storySize }}, Level:{{ story.languageLevel }}
  </div>

  <div id="title-container">
    <div>
      <button
        mat-raised-button
        color="accent"
        class="action-button"
        (click)="changeTitleLanguage(story)"
      >
        <div><mat-icon>repeat</mat-icon></div>
      </button>
    </div>
    <h2>{{ story.visibleTitleMeaning }}</h2>
  </div>

  <div id="description-container">
    <div>
      <button
        mat-raised-button
        color="accent"
        class="action-button"
        (click)="changeDescriptionLanguage(story)"
      >
        <div><mat-icon>repeat</mat-icon></div>
      </button>
    </div>
    <h3>{{ story.visibleDescriptionMeaning }}</h3>
  </div>

  <div id="sentence-container">
    <div class="sentence-item" *ngFor="let sentence of story.sentences">
      <div>
        <button
          mat-raised-button
          color="accent"
          class="action-button"
          (click)="changeSentenceLanguage(sentence)"
        >
          <div><mat-icon>repeat</mat-icon></div>
        </button>
      </div>
      <div>{{ sentence.visibleSentenceMeaning }}</div>
    </div>
  </div>
</div>