<div
  id="loader-container"
  class="container"
  *ngIf="
    (loaderService.loading$ | async) && (authService.currentUserSource$ | async)
  "
>
  <div id="loader-text">
    Twój bilet jest teraz w użyciu. Odpowiedz na wszystkie pytania, aby otrzymać
    punkty za historię. Jeśli uzyskasz minimum 50% punktów to bilet wróci do
    Ciebie!...
  </div>
  <div id="loader-logo">
    <ng-lottie [options]="loaderService.animationOptions"></ng-lottie>
  </div>
  <button
    mat-raised-button
    id="loader-button"
    class="submit-button"
    (click)="hideLoader()"
  >
    Dalej
  </button>
</div>

<div
  id="text-display-container"
  *ngIf="story && !(loaderService.loading$ | async) && !isQuizFinishied"
>
  <div id="text-display-subcontainer" *ngIf="!isQuiz">
    <div id="story-information">
      Kategoria: {{ showCategory(story.storyCategory) }}, Długość historii:
      {{ showSize(story.storySize) }}, Poziom językowy:
      {{ showLanguageLevel(story.languageLevel) }}
    </div>

    <div id="title-container">
      <div>
        <button
          mat-raised-button
          color="accent"
          class="action-button"
          (click)="changeTitleLanguage(story)"
        >
          <div><mat-icon>repeat</mat-icon></div>
        </button>
      </div>
      <h2>{{ story.visibleTitleMeaning }}</h2>
    </div>

    <div id="description-container">
      <div>
        <button
          mat-raised-button
          color="accent"
          class="action-button"
          (click)="changeDescriptionLanguage(story)"
        >
          <div><mat-icon>repeat</mat-icon></div>
        </button>
      </div>
      <h3>{{ story.visibleDescriptionMeaning }}</h3>
    </div>

    <div id="sentence-container">
      <div class="sentence-item" *ngFor="let sentence of story.sentences">
        <div>
          <button
            mat-raised-button
            color="accent"
            class="action-button"
            (click)="changeSentenceLanguage(sentence)"
          >
            <div><mat-icon>repeat</mat-icon></div>
          </button>
        </div>
        <div>{{ sentence.visibleSentenceMeaning }}</div>
      </div>
    </div>
    <div class="submit-button-container">
      <button
        mat-raised-button
        class="submit-button"
        id="submit-button"
        type="submit"
        color="accent"
        (click)="gotoQuiz()"
      >
        QUIZ
      </button>
    </div>
  </div>

  <div id="quiz-container-wrapper" *ngIf="isQuiz && !isQuizFinishied">
    <div id="quiz-container" class="container" *ngIf="quiz">
      <div class="title">Quiz - {{ story!.englishTitle }}</div>

      <form (ngSubmit)="checkAnswer()">
        <div class="question-card" *ngIf="currentQuestion">
          <h3 class="question-text">
            {{ currentQuestionIndex + 1 }}. {{ currentQuestion.questionText }}
          </h3>

          <div
            id="answer-button"
            class="answer"
            *ngFor="let answer of currentQuestion.answers"
          >
            <button
              [ngClass]="{
                disabled: !isNextButtonDisabled,
              }"
              [disabled]="!isNextButtonDisabled"
              type="submit"
              class="submit-button"
              (click)="selectedAnswers[currentQuestion.id] = answer.id"
            >
              {{ answer.text }}
            </button>
          </div>
          <button
            [ngClass]="{
              disabled: isNextButtonDisabled,
            }"
            [disabled]="isNextButtonDisabled"
            class="submit-button disabled"
            id="next-button"
            (click)="showNextQuestion()"
          >
            {{
              currentQuestionIndex === quiz.questions.length - 1
                ? "Pokaż wynik"
                : "Dalej"
            }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div *ngIf="isQuizFinishied" class="container">
  <div>Gratulacje! Ukończyłeś quiz!</div>
  <div>
    Zdobyte punkty za odpowiedzi:
    {{
      quizResult!.points - (story!.storyPoint!.bonusPointsForStoryLength ?? 0)
    }}/
    {{
      (story!.storyPoint!.maxPoints ?? 0) -
        (story!.storyPoint!.bonusPointsForStoryLength ?? 0)
    }}
  </div>
  <div>
    Bonus za długość historii:
    {{ story!.storyPoint!.bonusPointsForStoryLength }}
  </div>

  <div>
    Wynik quizu: {{ quizResult!.points }} / {{ story!.storyPoint!.maxPoints! }}
  </div>
  <div>
    Wynik procentowy quizu:
    {{ roundToTwoDecimals(quizResult!.scorePercentage) }}&nbsp;%
  </div>
  <div class="logo"></div>
  <div *ngIf="!(authService.currentUserSource$ | async)">
    Zapisz swój wynik i odblokuj kolejne historie.
  </div>
  <div class="button-container">
    <button
      *ngIf="!(authService.currentUserSource$ | async)"
      id="register-button"
      class="submit-button"
      (click)="navigateToRegister()"
    >
      Utwórz konto
    </button>
    <button
      *ngIf="authService.currentUserSource$ | async"
      id="again-button"
      class="submit-button"
      (click)="navigateToTextStory(story!.id)"
    >
      Spróbuj ponownie
    </button>
    <button
      *ngIf="authService.currentUserSource$ | async"
      id="back-button"
      class="submit-button"
      (click)="navigateToTextSelection()"
    >
      Kolejne wyzwanie
    </button>
  </div>
</div>
