<div
  id="main-container"
  class="container"
  [ngClass]="{
    'light-mode-background-primary light-mode-text':
      (themeService.theme$ | async),
    'dark-mode-background-primary dark-mode-text': !(
      themeService.theme$ | async
    ),
  }"
>
  @if (
    (loaderService.loading$ | async) &&
    (authService.currentUserSource$ | async) &&
    !isQuizFinishied &&
    story
  ) {
    <div
      id="loader-story-container"
      class="container loader-ticket-container"
      [ngClass]="{
        'light-mode-background-primary light-mode-text':
          (themeService.theme$ | async),
        'dark-mode-background-primary dark-mode-text': !(
          themeService.theme$ | async
        ),
      }"
    >
      <div id="loader-story-text">
        <div class="loader-story-text-item">
          Twój bilet jest teraz w użyciu. Odpowiedz na wszystkie pytania, aby
          otrzymać punkty za historię.
        </div>
        <div class="loader-story-text-item">
          Jeśli uzyskasz minimum 50% punktów za lekcję to bilet wróci do Ciebie!
        </div>
      </div>
      <div id="loader-story-logo" class="image-standard"></div>
      <button
        mat-raised-button
        id="loader-story-button"
        class="button-app button-standard"
        [ngClass]="{
          'light-mode-background light-mode-text':
            (themeService.theme$ | async),
          'dark-mode-background dark-mode-text': !(themeService.theme$ | async),
        }"
        (click)="hideLoader()"
      >
        Dalej
      </button>
    </div>
  }

  @if (story && !(loaderService.loading$ | async) && !isQuizFinishied) {
    <div
      id="text-display-container"
      class="container"
      [ngClass]="{
        'light-mode-background-primary light-mode-text':
          (themeService.theme$ | async),
        'dark-mode-background-primary dark-mode-text': !(
          themeService.theme$ | async
        ),
      }"
    >
      @if (!isQuiz) {
        <div id="text-display-subcontainer">
          <div id="story-information">
            <div
              class="story-information-item"
              [ngClass]="{
                'light-mode-background light-mode-text light-mode-border-black':
                  (themeService.theme$ | async),
                'dark-mode-background dark-mode-text dark-mode-border-white': !(
                  themeService.theme$ | async
                ),
              }"
            >
              <mat-icon
                class="story-information-item-mat-icon"
                [ngClass]="{
                  'light-mode-background light-mode-text':
                    (themeService.theme$ | async),
                  'dark-mode-background dark-mode-text': !(
                    themeService.theme$ | async
                  ),
                }"
                >{{ showCategoryIcon(story.storyCategory) }}</mat-icon
              >
              {{ showCategory(story.storyCategory) }}
            </div>
            <div
              class="story-information-item"
              [ngClass]="{
                'light-mode-background light-mode-text light-mode-border-black':
                  (themeService.theme$ | async),
                'dark-mode-background dark-mode-text dark-mode-border-white': !(
                  themeService.theme$ | async
                ),
              }"
            >
              <mat-icon class="story-information-item-mat-icon"
                >schedule</mat-icon
              >{{ showSize(story.storySize) }}
            </div>
            <div
              class="story-information-item"
              [ngClass]="{
                'light-mode-background light-mode-text light-mode-border-black':
                  (themeService.theme$ | async),
                'dark-mode-background dark-mode-text dark-mode-border-white': !(
                  themeService.theme$ | async
                ),
              }"
            >
              <mat-icon class="story-information-item-mat-icon">school</mat-icon
              >{{ showLanguageLevel(story.languageLevel) }}
            </div>
          </div>

          <div id="title-container">
            <div>
              <button
                mat-raised-button
                class="action-button"
                [ngClass]="{
                  'light-mode-background light-mode-text':
                    (themeService.theme$ | async),
                  'dark-mode-background dark-mode-text': !(
                    themeService.theme$ | async
                  ),
                }"
                (click)="changeTitleLanguage(story)"
              >
                <div><mat-icon>repeat</mat-icon></div>
              </button>
            </div>
            <h1 id="h1-title">{{ story.visibleTitleMeaning }}</h1>
          </div>

          <div id="description-container">
            <div>
              <button
                mat-raised-button
                class="action-button"
                [ngClass]="{
                  'light-mode-background light-mode-text':
                    (themeService.theme$ | async),
                  'dark-mode-background dark-mode-text': !(
                    themeService.theme$ | async
                  ),
                }"
                (click)="changeDescriptionLanguage(story)"
              >
                <div><mat-icon>repeat</mat-icon></div>
              </button>
            </div>
            <h3>{{ story.visibleDescriptionMeaning }}</h3>
          </div>

          <div id="sentence-container">
            @for (sentence of story.sentences; track sentence) {
              <div class="sentence-item">
                <div>
                  <button
                    mat-raised-button
                    class="action-button"
                    [ngClass]="{
                      'light-mode-background light-mode-text':
                        (themeService.theme$ | async),
                      'dark-mode-background dark-mode-text': !(
                        themeService.theme$ | async
                      ),
                    }"
                    (click)="changeSentenceLanguage(sentence)"
                  >
                    <div><mat-icon>repeat</mat-icon></div>
                  </button>
                </div>
                <div>{{ sentence.visibleSentenceMeaning }}</div>
              </div>
            }
          </div>
          <div class="submit-button-container">
            <button
              mat-raised-button
              class="button-app button-standard"
              [ngClass]="{
                'light-mode-background light-mode-text':
                  (themeService.theme$ | async),
                'dark-mode-background dark-mode-text': !(
                  themeService.theme$ | async
                ),
              }"
              (click)="gotoQuiz()"
            >
              QUIZ
            </button>
          </div>
        </div>
      }

      @if (isQuiz && !isQuizFinishied && story) {
        <div id="quiz-container-wrapper">
          @if (quiz) {
            <div
              id="quiz-container"
              class="container"
              [ngClass]="{
                'light-mode-background-primary light-mode-text':
                  (themeService.theme$ | async),
                'dark-mode-background-primary dark-mode-text': !(
                  themeService.theme$ | async
                ),
              }"
            >
              <mat-progress-bar
                color="accent"
                [value]="quizProgress"
              ></mat-progress-bar>
              <h1 class="title">Quiz - {{ story.englishTitle }}</h1>

              @if (currentQuestion) {
                <div class="question-card">
                  <h3 class="question-text">
                    {{ currentQuestionIndex + 1 }}.
                    {{ currentQuestion.questionText }}
                  </h3>

                  @for (answer of currentQuestion.answers; track answer.id) {
                    <div id="answer-button">
                      <button
                        type="button"
                        [class.disabled]="answerSubmitted"
                        [class.correct]="answer.isCorrect && answerSubmitted"
                        [class.wrong]="
                          selectedAnswers[currentQuestion.id] === answer.id &&
                          !answer.isCorrect &&
                          answerSubmitted
                        "
                        [disabled]="answerSubmitted"
                        class="button-app-quiz plain-button"
                        [ngClass]="{
                          'light-mode-background light-mode-text':
                            (themeService.theme$ | async),
                          'dark-mode-background dark-mode-text': !(
                            themeService.theme$ | async
                          ),
                        }"
                        (click)="selectAnswer(answer.id)"
                      >
                        {{ answer.text }}
                      </button>
                    </div>
                  }

                  <button
                    mat-raised-button
                    [class.disabled]="!answerSubmitted"
                    [disabled]="!answerSubmitted"
                    class="button-app-reverse-color button-standard"
                    [ngClass]="{
                      'white-background':
                        (themeService.theme$ | async) && answerSubmitted,
                    }"
                    id="next-button"
                    (click)="showNextQuestion()"
                  >
                    {{
                      currentQuestionIndex === quiz.questions.length - 1
                        ? "Pokaż wynik"
                        : "Dalej"
                    }}
                  </button>
                </div>
              }
            </div>
          }
        </div>
      }
    </div>
  }

  @if (isQuizFinishied && (loaderService.loading$ | async)) {
    <div
      id="loader-quiz-finished-container"
      class="container"
      [ngClass]="{
        'light-mode-background-primary light-mode-text':
          (themeService.theme$ | async),
        'dark-mode-background-primary dark-mode-text': !(
          themeService.theme$ | async
        ),
      }"
    >
      <div id="loader-quiz-finished-text">Chwileczkę, podliczamy punkty..</div>
      <div class="loader-logo">
        <ng-lottie [options]="loaderService.animationOptions"></ng-lottie>
      </div>
    </div>
  }

  @if (isQuizFinishied && !(loaderService.loading$ | async) && story) {
    <div
      id="finish-quiz-container"
      class="container"
      [ngClass]="{
        'light-mode-background-primary light-mode-text':
          (themeService.theme$ | async),
        'dark-mode-background-primary dark-mode-text': !(
          themeService.theme$ | async
        ),
      }"
    >
      <div id="finish-lesson-title" class="item">
        Gratulacje! Ukończyłeś quiz!
      </div>

      @if (quizResult && story) {
        <div class="item">
          Zdobyte punkty:
          {{
            quizResult.points -
              (story.storyPoint!.bonusPointsForStoryLength ?? 0)
          }}&nbsp;<mat-icon class="mat-icon-star-color">star</mat-icon>/
          {{
            (story.storyPoint!.maxPoints ?? 0) -
              (story.storyPoint!.bonusPointsForStoryLength ?? 0)
          }}&nbsp;<mat-icon class="mat-icon-star-color">star</mat-icon>
        </div>
      }

      <div class="item">
        Bonus za długość historii:
        {{ story.storyPoint!.bonusPointsForStoryLength }}&nbsp;<mat-icon
          class="mat-icon-star-color"
          >star</mat-icon
        >
      </div>

      @if (quizResult) {
        <div class="item">
          Wynik quizu: {{ quizResult.points }}&nbsp;<mat-icon
            class="mat-icon-star-color"
            >star</mat-icon
          >
          / {{ story.storyPoint!.maxPoints! }}&nbsp;<mat-icon
            class="mat-icon-star-color"
            >star</mat-icon
          >
        </div>
      }

      @if (quizResult) {
        <div class="item">
          Wynik procentowy quizu:
          {{ roundToTwoDecimals(quizResult.scorePercentage) }}&nbsp;%
        </div>
      }

      <div id="logo-result" class="image-standard"></div>

      @if (!(authService.currentUserSource$ | async)) {
        <div>Zapisz swój wynik i odblokuj kolejne historie.</div>
      }

      <div class="button-container">
        @if (!(authService.currentUserSource$ | async)) {
          <button
            mat-raised-button
            id="register-button"
            class="button-app button-standard"
            [ngClass]="{
              'light-mode-background light-mode-text':
                (themeService.theme$ | async),
              'dark-mode-background dark-mode-text': !(
                themeService.theme$ | async
              ),
            }"
            (click)="navigateToRegister()"
          >
            Utwórz konto
          </button>
        }
        @if (authService.currentUserSource$ | async) {
          <button
            mat-raised-button
            id="again-button"
            class="button-app button-standard"
            [ngClass]="{
              'light-mode-background light-mode-text':
                (themeService.theme$ | async),
              'dark-mode-background dark-mode-text': !(
                themeService.theme$ | async
              ),
            }"
            (click)="resetState()"
          >
            Spróbuj ponownie
          </button>
          <button
            mat-raised-button
            id="back-button"
            class="button-app button-standard"
            [ngClass]="{
              'light-mode-background light-mode-text':
                (themeService.theme$ | async),
              'dark-mode-background dark-mode-text': !(
                themeService.theme$ | async
              ),
            }"
            (click)="navigateToTextSelection()"
          >
            Kolejne wyzwanie
          </button>
        }
      </div>
    </div>
  }
</div>
