@use "@angular/material" as mat;
@use "src/styles" as theme;

#footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 20px 40px 20px;
  bottom: 0;
  left: 0;
}

#footer-text {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 10px;
}

#footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#copyright-notice {
  padding-top: 20px;
  font-weight: bold;
}

.footer-link {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #footer-container {
    padding: 20px 100px 40px 100px;
  }
}

@media screen and (min-width: 1200px) {
  #footer-container {
    padding: 20px 200px 40px 100px;
  }
}