<mat-toolbar id="toolbar-container" class="toolbar">
  <div id="mobile-navbar">
    <div id="mobile-navbar-buttons">
      <button
        routerLink="/"
        class="mobile-button"
        *ngIf="!(authService.currentUserSource$ | async)"
        [disabled]="!(navbarService.navbarPublicButton$ | async)"
      >
        <mat-icon>home</mat-icon>
      </button>
      <button
        routerLink="/login"
        class="mobile-button"
        *ngIf="!(authService.currentUserSource$ | async)"
        [disabled]="!(navbarService.navbarPublicButton$ | async)"
      >
        <mat-icon>key</mat-icon>
      </button>
      <button
        routerLink="/register"
        class="mobile-button"
        *ngIf="!(authService.currentUserSource$ | async)"
        [disabled]="!(navbarService.navbarPublicButton$ | async)"
      >
        <mat-icon>person_add</mat-icon>
    </button>
      <a
        routerLink="/text-selection"
        class="mobile-button"
        *ngIf="authService.currentUserSource$ | async"
      >
        <mat-icon>school</mat-icon>
      </a>
      <div class="mobile-button" *ngIf="authService.isModerator$ | async">
        <div
          mat-button
          class="mobile-button-body"
          [matMenuTriggerFor]="moderatorMenu"
          #moderatorTrigger="matMenuTrigger"
        >
          <mat-icon>security</mat-icon>
          <mat-icon>arrow_drop_down</mat-icon>
        </div>
      </div>
      <div class="mobile-button" *ngIf="authService.currentUserSource$ | async">
        <div
          mat-button
          class="mobile-button-body"
          [matMenuTriggerFor]="administratorMenu"
          #administratorTrigger="matMenuTrigger"
        >
          <mat-icon>security</mat-icon>
          <mat-icon>arrow_drop_down</mat-icon>
        </div>
      </div>
      <div class="mobile-button" *ngIf="authService.currentUserSource$ | async">
        <div
          mat-button
          class="mobile-button-body"
          [matMenuTriggerFor]="profileMenu"
          #profileTrigger="matMenuTrigger"
        >
          <mat-icon>account_circle</mat-icon>
          <mat-icon>arrow_drop_down</mat-icon>
        </div>
      </div>
    </div>
  </div>
  <div id="desktop-navbar">
    <div id="desktop-navbar-logo" class="logo"></div>
    <div id="desktop-navbar-buttons">
      <button
        routerLink="/"
        class="desktop-button"
        *ngIf="!(authService.currentUserSource$ | async)"
        [disabled]="!(navbarService.navbarPublicButton$ | async)"
      >
        START
      </button>
      <button
        routerLink="/login"
        class="desktop-button"
        *ngIf="!(authService.currentUserSource$ | async)"
        [disabled]="!(navbarService.navbarPublicButton$ | async)"
      >
        ZALOGUJ
      </button>
      <button
        routerLink="/register"
        class="desktop-button"
        *ngIf="!(authService.currentUserSource$ | async)"
        [disabled]="!(navbarService.navbarPublicButton$ | async)"
      >
        ZAREJESTRUJ
      </button>
      <a
        routerLink="/text-selection"
        class="desktop-button"
        *ngIf="authService.currentUserSource$ | async"
      >
        PRZYGODA
      </a>
      <div
        class="desktop-button"
        *ngIf="authService.isModerator$ | async"
        [matMenuTriggerFor]="moderatorMenu"
        #moderatorTrigger="matMenuTrigger"
      >
        <div class="desktop-button-body">
          MODERATOR
          <mat-icon class="desktop-icon-drop-down">arrow_drop_down</mat-icon>
        </div>
      </div>
      <div
        class="desktop-button"
        *ngIf="authService.currentUserSource$ | async"
        [matMenuTriggerFor]="administratorMenu"
        #profileTrigger="matMenuTrigger"
      >
        <div class="desktop-button-body">
          ADMINISTRATOR
          <mat-icon class="desktop-icon-drop-down">arrow_drop_down</mat-icon>
        </div>
      </div>
      <div
        class="desktop-button"
        *ngIf="authService.currentUserSource$ | async"
        [matMenuTriggerFor]="profileMenu"
        #profileTrigger="matMenuTrigger"
      >
        <div class="desktop-button-body">
          PROFIL
          <mat-icon class="desktop-icon-drop-down">arrow_drop_down</mat-icon>
        </div>
      </div>
    </div>
  </div>
</mat-toolbar>
<mat-menu #profileMenu="matMenu" class="mat-menu-desktop">
  <button mat-menu-item routerLink="/profile" class="mat-menu-desktop">
    INFORMACJE
  </button>
  <button mat-menu-item (click)="logout()">WYLOGUJ</button>
</mat-menu>
<mat-menu #moderatorMenu="matMenu" class="mat-menu-desktop">
  <button mat-menu-item routerLink="/create-story">NOWA HISTORIA</button>
  <button mat-menu-item routerLink="/create-quiz">NOWY QUIZ</button>
</mat-menu>
<mat-menu #administratorMenu="matMenu" class="mat-menu-desktop">
  <button mat-menu-item routerLink="/create-story">NOWA HISTORIA</button>
  <button mat-menu-item routerLink="/create-quiz">NOWY QUIZ</button>
</mat-menu>
