@use "@angular/material" as mat;
@use "src/styles" as theme;

#toolbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: mat.get-color-from-palette(theme.$accent);
  border-bottom: 2px solid white;
}

#desktop-navbar,
#desktop-navbar-logo {
  display: none;
}

#desktop-navbar {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.navbar-desktop-button {
  display: flex;
  height: 62px !important;
  font-weight: bold;
}

.logo {
  display: flex;
  width: 200px;
  height: 50px;
  background-size: contain;
  background-image: url(../../../../assets/shared/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #mobile-menu-button,
  #mobile-navbar-logo {
    display: none;
  }
  #desktop-navbar,
  #desktop-navbar-logo {
    display: flex;
  }
  #desktop-navbar {
    padding: 0 100px;
  }

  .navbar-desktop-button {
    width: 105px;
    font-size: 13px;
  }
}

@media screen and (min-width: 1200px) {
  #mobile-menu-button,
  #mobile-navbar-logo {
    display: none;
  }
  #desktop-navbar,
  #desktop-navbar-logo {
    display: flex;
  }
  #desktop-navbar {
    padding: 0 160px;
  }
  .navbar-desktop-button {
    width: 200px;
    font-size: 15px;
  }
}
