<mat-toolbar id="toolbar-container" class="toolbar">
  <div id="mobile-navbar">
    <div id="mobile-navbar-buttons">
      <a mat-button routerLink="/" class="desktop-button">
        <mat-icon>home</mat-icon></a
      >
      <a
        mat-button
        routerLink="/login"
        class="mobile-button"
        *ngIf="!(authService.currentUserSource$ | async)"
      >
        <mat-icon>key</mat-icon>
      </a>
      <a
        mat-button
        routerLink="/register"
        class="mobile-button"
        *ngIf="!(authService.currentUserSource$ | async)"
      >
        <mat-icon>person_add</mat-icon>
      </a>
      <a
        mat-button
        routerLink="/text-selection"
        class="mobile-button"
        *ngIf="authService.currentUserSource$ | async"
      >
        <mat-icon>school</mat-icon>
      </a>
      <div class="mobile-button" *ngIf="authService.isModerator$ | async">
        <a
          mat-button
          [matMenuTriggerFor]="moderatorMenu"
          #moderatorTrigger="matMenuTrigger"
        >
          <mat-icon>security</mat-icon>
          <mat-icon>arrow_drop_down</mat-icon>
        </a>
      </div>
      <div class="mobile-button" *ngIf="authService.isAdmin$ | async">
        <a
          mat-button
          [matMenuTriggerFor]="administratorMenu"
          #administratorTrigger="matMenuTrigger"
        >
          <mat-icon>security</mat-icon>
          <mat-icon>arrow_drop_down</mat-icon>
        </a>
      </div>
      <div
        class="mobile-button"
        *ngIf="authService.currentUserSource$ | async"
      >
        <a
          mat-button
        class="mobile-button"
          [matMenuTriggerFor]="profileMenu"
          #profileTrigger="matMenuTrigger"
        >
          <mat-icon>account_circle</mat-icon>
          <mat-icon>arrow_drop_down</mat-icon>
        </a>
      </div>
    </div>
  </div>
  <div id="desktop-navbar">
    <div id="desktop-navbar-logo" class="logo"></div>
    <div id="desktop-navbar-buttons">
      <a mat-button routerLink="/" class="desktop-button">HOME</a>
      <a
        mat-button
        routerLink="/login"
        class="desktop-button"
        *ngIf="!(authService.currentUserSource$ | async)"
      >
        LOGIN
      </a>
      <a
        mat-button
        routerLink="/register"
        class="desktop-button"
        *ngIf="!(authService.currentUserSource$ | async)"
      >
        REGISTER
      </a>
      <a
        mat-button
        routerLink="/text-selection"
        class="desktop-button"
        *ngIf="authService.currentUserSource$ | async"
      >
        CHOOSE A TEXT
      </a>
      <div class="desktop-button" *ngIf="authService.isModerator$ | async">
        <a
          mat-button
          [matMenuTriggerFor]="moderatorMenu"
          #moderatorTrigger="matMenuTrigger"
        >
          MODERATOR
        </a>
        <mat-icon>arrow_drop_down</mat-icon>
      </div>
      <div class="desktop-button" *ngIf="authService.isAdmin$ | async">
        <a
          mat-button
          [matMenuTriggerFor]="administratorMenu"
          #administratorTrigger="matMenuTrigger"
        >
          ADMIN
        </a>
        <mat-icon>arrow_drop_down</mat-icon>
      </div>
      <div
        class="desktop-button"
        *ngIf="authService.currentUserSource$ | async"
      >
        <a
          mat-button
          class="desktop-button"
          [matMenuTriggerFor]="profileMenu"
          #profileTrigger="matMenuTrigger"
        >
          PROFILE
        </a>
        <mat-icon>arrow_drop_down</mat-icon>
      </div>
    </div>
  </div>
</mat-toolbar>
<mat-menu #profileMenu="matMenu">
  <button mat-menu-item routerLink="/profile">INFORMATION</button>
  <button mat-menu-item (click)="logout()">LOGOUT</button>
</mat-menu>
<mat-menu #moderatorMenu="matMenu">
  <button mat-menu-item routerLink="/create-story">CREATE STORY</button>
</mat-menu>
<mat-menu #administratorMenu="matMenu">
  <button mat-menu-item routerLink="/create-story">CREATE STORY</button>
</mat-menu>
