<div id="profile-container" class="container">
  <div id="profile-navigation-navbar">
    <div id="desktop-navbar-buttons">
      <button
        routerLink="/profile/profile-details"
        class="desktop-button"
        aria-label="Mój profil"
      >
        Informacje profilowe
      </button>
      <button
        routerLink="/profile/personalization"
        class="desktop-button"
        aria-label="Personalizacja"
      >
        Personalizacja
      </button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
