@use "@angular/material" as mat;
@use "src/styles" as theme;

#story-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 0 0 80px 0;
}

#h1-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  height: auto;
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 30px;
}

#no-story-information {
  padding: 20px 0;
  color: white;
}

.story-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
}

.story-card {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 350px;
  justify-content: center;
  padding: 0 10px 0 10px;
  border-radius: 25px;
  z-index: 5;
  left: 5%;
  border: 2px solid white;
  top: -5%;
}

.story-card-description {
  padding: 10px;
  text-align: left;
  font-weight: bold;
}

.story-card-title {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0 20px 0;
  text-align: center;
}

.story-card-story-size {
  padding-top: 10px;
}

.story-card-button-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

button.story-card-button {
  margin-top: 10px;
}

#score-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
}

.score-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.story-preview-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px;
  height: 280px;
  width: 250px;
  border-radius: 50px;
  margin: 40px 40px;
}
.story-preview-button-title {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
}

.story-previev-button-level-and-size {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  font-weight: bold;
}
.story-wrapper {
  position: relative;
}

.story-preview-button {
  cursor: pointer;
  transition: 0.2s;
}

.story-preview-button:not(.locked):hover {
  background-color: #26a69a;
}

.button-close {
  position: absolute;
  width: 40px;
  margin-left: 150px;
  margin-top: -20px;
}

.button-close:hover {
  background-color: #f2f2f2;
}
.story-card-button-close {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.story-preview-button-icon {
  margin-bottom: 10px;
}

.vocabulary-preview-button-icon {
  margin-bottom: 10px;
}

.preview-button-icon {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
  min-height: 50px;
  width: 100%;
  border-radius: 25px;
}

.vocabulary-image {
  margin: 10px 0;
}

.score-item-hint {
  margin: 10px 0;
}

button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
.score-percentage {
  font-size: 20px;
  padding-top: 10px;
}

.story-preview-button-type {
  padding-bottom: 10px;
}

#profile-statistic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-bottom: 40px;
}

.profile-statistic-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
}

.button-standard {
  width: 250px;
}

#button-story-start {
  font-weight: bold;
}

.button-word-lesson-start{
  font-weight: bold;
  margin-top: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #story-container {
    min-height: calc(100vh - 160px);
    justify-content: flex;
    padding: 30px auto 80px 0;
  }
}

@media screen and (min-width: 1200px) {
  #story-container {
    min-height: calc(100vh - 160px);
    justify-content: flex;
    padding: 30px auto 80px 0;
  }
}
