@use "@angular/material" as mat;
@use "src/styles" as theme;

#home-container {
  display: flex;
  min-height: 600px;
}

#home-title {
  text-align: center;
  width: 100%;
  height: auto;
  padding: 10px 20px;
}

#home-subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 20px 10px 0 10px;
}

#mobile-logo {
  display: flex;
  width: 250px;
  min-width: 250px;
  height: auto;
}

#desktop-logo {
  display: none;
  width: 400px;
  min-width: 400px;
  height: 400px;
  background-image: url(../../../../assets/kitty/kitty.webp);
}

#home-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#button-start {
  margin-bottom: 30px;
}

#loader-container {
  padding: 50px 20px 0 20px;
}

#loader-text {
  font-size: 20px;
  margin-bottom: 40px;
}

.home-subtitle-row {
  padding: 5px 0;
}

#h2-h3-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  color: mat.m2-get-color-from-palette(theme.$primary, 900);
  background-color: white;
}

#h2-english-with-luna {
  padding: 20px 0 30px 0;
}

.content-block {
  padding: 0 20px 30px 20px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #home-subtitle {
    font-size: 22px;
    padding: 50px;
  }
  #desktop-logo {
    display: flex;
  }
  #mobile-logo {
    display: none;
  }
  .content-block {
    padding: 0 100px 30px 100px;
  }
}

@media screen and (min-width: 1200px) {
  #home-subtitle {
    font-size: 26px;
    padding: 50px;
  }
  #desktop-logo {
    display: flex;
  }
  #mobile-logo {
    display: none;
  }
  .content-block {
    padding: 0 350px 30px 350px;
  }
}
