<div id="home-container" class="container">
  <div id="home-title" class="title">StoryFlow z kotką Luną</div>
  <div id="home-row">
    <div id="loader-logo">
      <ng-lottie [options]="loader.animationOptions"></ng-lottie>
    </div>
    <div id="home-subtitle" class="subtitle">
      <div>Odkrywaj historie z kotką Luną dopasowane do Twojego poziomu.</div>
      <div>
        Każda historia sprawia, że angielski staje się coraz łatwiejszy.
      </div>
      <div>Nauka i zabawa w jednym miejscu.</div>
    </div>
  </div>
</div>
