#home-title {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
  height: auto;
}

#home-subtitle {
  padding: 20px 10px;
}

#loader-logo {
  display: flex;
  width: 300px;
  min-width: 300px;
  height: 300px;
}

#home-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#home-subtitle {
  font-size: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #home-subtitle {
    font-size: 18px;
  }
  #loader-logo {
    width: 400px;
    height: 400px;
  }
}

@media screen and (min-width: 1200px) {
  #home-subtitle {
    font-size: 26px;
  }
  #loader-logo {
    width: 400px;
    height: 400px;
  }
}
