@use "@angular/material" as mat;
@use "src/styles" as theme;

#home-container{
  display: flex;
  min-height: 600px;
}
#home-title {
  padding: 10px;
  text-align: center;
  width: 100%;
  height: auto;
}

#mobile-logo {
  display: flex;
  width: 250px;
  min-width: 250px;
  height: 250px;
  min-height: 250px;
  background-image: url(../../../../assets/kitty/kitty1.png);
  background-position: center;
  background-size: cover;
  background-position: no-repeat;
}

#home-subtitle {
  padding: 20px 10px;
}

#home-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#home-subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.home-subtitle-row {
  padding: 5px 0;
}

#button-start {
  width: 350px;
  height: 56px;
  padding: 0 40px;
  font-size: 18px;
  font-weight: bolder;
  border-radius: 12px;
  margin-bottom: 30px;
  color: white;
  background-color: mat.get-color-from-palette(theme.$accent);
}

#button-start:hover {
  background-color: #26a69a;
}

#home-logo {
  display: none;
  width: 400px;
  min-width: 400px;
  height: 400px;
  background-image: url(../../../../assets/kitty/kitty.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#loader-container {
  padding: 50px 20px 0 20px;
}

#loader-text {
  font-size: 20px;
  margin-bottom: 40px;
}

.loader-logo {
  display: flex;
  width: 350px;
  min-width: 350px;
  height: 350px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #home-subtitle {
    font-size: 18px;
    padding: 50px;
  }
  #home-logo {
    display: flex;
  }
  #mobile-logo {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  #home-subtitle {
    font-size: 26px;
    padding: 50px;
  }
  #home-logo {
    display: flex;
  }
  #mobile-logo {
    display: none;
  }
}
