<div id="home-container" class="container">
  <div id="home-row">
    <div id="loader-logo"></div>
    <div id="home-text">
      <div id="home-title" class="title">StoryFlow z kotką Luną</div>
      <div id="home-subtitle" class="subtitle">
        <div class="home-subtitle-row">
          Odkrywaj historie z kotką Luną dopasowane do Twojego poziomu.
        </div>
        <div class="home-subtitle-row">
          Każda historia sprawia, że angielski staje się coraz łatwiejszy.
        </div>
        <div class="home-subtitle-row">Nauka i zabawa w jednym miejscu.</div>
      </div>
    </div>
  </div>
  <div id="mobile-logo"></div>
</div>
