<div id="create-story-container">
  <div id="generate-story-container">
    <form [formGroup]="generateForm" (ngSubmit)="generate()">
      <div id="filter-story-container">
        <mat-form-field class="filter-field">
          <mat-label>Kategoria:</mat-label>
          <mat-select id="storyCategory" formControlName="storyCategory">
            <mat-option
              *ngFor="let category of categories"
              [value]="category.value"
              >{{ category.viewValue }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field class="filter-field">
          <mat-label>Poziom językowy:</mat-label>
          <mat-select id="languageLevel" formControlName="languageLevel">
            <mat-option
              *ngFor="let level of languageLevels"
              [value]="level.value"
              >{{ level.viewValue }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field class="filter-field">
          <mat-label>Długość:</mat-label>
          <mat-select id="storySize" formControlName="storySize">
            <mat-option *ngFor="let size of sizes" [value]="size.value">{{
              size.viewValue
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="submit-button-container">
        <button
          mat-raised-button
          class="submit-button"
          id="submit-button-generate"
          type="submit"
        >
          Generuj
        </button>
      </div>
    </form>
  </div>
  <form [formGroup]="addForm" id="add-form" (ngSubmit)="add()">
    <mat-form-field>
      <mat-label>Polski tytuł</mat-label>
      <textarea
        class="textarea"
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="20"
        id="polishTitle"
        formControlName="polishTitle"
      ></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Angielski tytuł</mat-label>
      <textarea
        class="textarea"
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="20"
        id="englishTitle"
        formControlName="englishTitle"
      ></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Polski opis</mat-label>
      <textarea
        class="textarea"
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="20"
        id="polishDescription"
        formControlName="polishDescription"
      ></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Angielski opis</mat-label>
      <textarea
        class="textarea"
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="20"
        id="englishDescription"
        formControlName="englishDescription"
      ></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Polska historia</mat-label>
      <textarea
        class="textarea"
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="20"
        id="polishStory"
        formControlName="polishStory"
      ></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Angielska historia</mat-label>
      <textarea
        class="textarea"
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="20"
        id="englishStory"
        formControlName="englishStory"
      ></textarea>
    </mat-form-field>

    <div class="submit-button-container">
      <button
        mat-raised-button
        class="submit-button"
        id="submit-button-create"
        color="accent"
        type="submit"
      >
        Dodaj
      </button>
    </div>
  </form>
</div>
