<div id="create-story-container">
  <div>
    <form
      id="generate-story-container"
      [formGroup]="generateForm"
      (ngSubmit)="generate()"
    >
      <mat-form-field class="filter-field">
        <mat-label>Category:</mat-label>
        <mat-select id="storyCategory" formControlName="storyCategory">
          <mat-option
            *ngFor="let category of categories"
            [value]="category.value"
            >{{ category.viewValue }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field class="filter-field">
        <mat-label>Language level:</mat-label>
        <mat-select id="languageLevel" formControlName="languageLevel">
          <mat-option
            *ngFor="let level of languageLevels"
            [value]="level.value"
            >{{ level.viewValue }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field class="filter-field">
        <mat-label>Story size:</mat-label>
        <mat-select id="storySize" formControlName="storySize">
          <mat-option *ngFor="let size of sizes" [value]="size.value">{{
            size.viewValue
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div id="submit-button-container">
        <button mat-raised-button class="submit-button" id="submit-button-generate" type="submit">
          Generate
        </button>
      </div>
    </form>
  </div>
  <form [formGroup]="addForm" id="add-form" (ngSubmit)="add()">
    <mat-form-field>
      <mat-label>Polish title</mat-label>
      <textarea
        class="textarea"
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="20"
        id="polishTitle"
        formControlName="polishTitle"
      ></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>English title</mat-label>
      <textarea
        class="textarea"
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="20"
        id="englishTitle"
        formControlName="englishTitle"
      ></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Polish description</mat-label>
      <textarea
        class="textarea"
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="20"
        id="polishDescription"
        formControlName="polishDescription"
      ></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>English description</mat-label>
      <textarea
        class="textarea"
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="20"
        id="englishDescription"
        formControlName="englishDescription"
      ></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Polish story</mat-label>
      <textarea
        class="textarea"
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="20"
        id="polishStory"
        formControlName="polishStory"
      ></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>English story</mat-label>
      <textarea
        class="textarea"
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="20"
        id="englishStory"
        formControlName="englishStory"
      ></textarea>
    </mat-form-field>

    <div id="submit-button-container">
      <button mat-raised-button class="submit-button" id="submit-button-create" type="submit">
        Add
      </button>
    </div>
  </form>
</div>
