<div id="register-container" class="container">
  <form [formGroup]="form" (ngSubmit)="register()" autocomplete="off">
    <mat-card class="register-card">
      <mat-card-title id="card-title">
        Join us and create your account.
      </mat-card-title>

      <mat-card-content>
        <mat-form-field class="card-input" appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email" />

          <mat-error
            *ngIf="
              form.get('email')?.hasError('required') &&
              form.get('email')?.touched
            "
          >
            Email is required.
          </mat-error>

          <mat-error
            *ngIf="
              form.get('email')?.hasError('email') && form.get('email')?.touched
            "
          >
            Please enter a valid email address.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="card-input" appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="hidePassword() ? 'password' : 'text'"
            formControlName="password"
          />

          <button
            type="button"
            class="password-button"
            mat-icon-button
            matSuffix
            (click)="changePasswordVisibility($event)"
            [attr.aria-label]="'Toggle password visibility'"
          >
            <mat-icon>
              {{ hidePassword() ? "visibility_off" : "visibility" }}
            </mat-icon>
          </button>

          <mat-error
            *ngIf="
              form.get('password')?.hasError('required') &&
              form.get('password')?.touched
            "
          >
            Password is required.
          </mat-error>

          <mat-error
            *ngIf="
              (form.get('password')?.hasError('minlength') &&
                form.get('password')?.touched) ||
              (form.get('password')?.hasError('maxlength') &&
                form.get('password')?.touched)
            "
          >
            Password must be between 5 and 25 characters.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="card-input" appearance="outline">
          <mat-label>Repeat password</mat-label>
          <input
            matInput
            [type]="hideRepeatPassword() ? 'password' : 'text'"
            formControlName="repeatPassword"
          />

          <button
            type="button"
            class="password-button"
            mat-icon-button
            matSuffix
            (click)="changeRepeatPasswordVisibility($event)"
            [attr.aria-label]="'Toggle repeat password visibility'"
          >
            <mat-icon>
              {{ hideRepeatPassword() ? "visibility_off" : "visibility" }}
            </mat-icon>
          </button>

          <mat-error
            *ngIf="
              form.get('repeatPassword')?.hasError('required') &&
              form.get('repeatPassword')?.touched
            "
          >
            Repeat password is required.
          </mat-error>

          <mat-error
            *ngIf="
              (form.get('repeatPassword')?.hasError('minlength') &&
                form.get('repeatPassword')?.touched) ||
              (form.get('repeatPassword')?.hasError('maxlength') &&
                form.get('repeatPassword')?.touched)
            "
          >
            Repeat password must be between 5 and 25 characters.
          </mat-error>
        </mat-form-field>

        <div id="submit-button-container">
          <button id="submit-button" mat-raised-button color="accent" type="submit">
            Register
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
