@use "@angular/material" as mat;
@use "src/styles" as theme;

mat-form-field.card-input {
  width: 258px;
}

mat-card.register-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100%;
  min-width: 300px;
  padding: 40px 0;
}

#register-container {
  display: flex;
  padding: 40px 0;
}

#card-title {
  display: flex;
  width: 100%;
  height: auto;
  text-align: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 400;
}

#loader-text {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
}

#submit-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#submit-register-button {
  margin-bottom: 20px;
}

#loader-container {
  padding-top: 50px;
}

.card-input {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  mat-card.register-card {
    width: 350px;
  }
}

@media screen and (min-width: 1200px) {

  mat-card.register-card {
    width: 1000px;
    min-width: 1000px;
    padding: 20px 0;
  }

  #register-container{
    padding-bottom: 40px;
  }

  .mat-form-field-row {
    display: flex;
    flex-direction: row;
  }

  .card-input {
    margin: 0 20px 10px 20px;
  }
}
