@use "@angular/material" as mat;
@use "src/styles" as theme;

mat-form-field.card-input {
  width: 258px;
}

mat-card.register-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100%;
  min-width: 300px;
  padding: 40px 0;
}

#register-container {
  display: flex;
  min-height: 930px;
}

#card-title {
  display: flex;
  width: 100%;
  height: auto;
  text-align: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 400;
  color: white;
  background-color: mat.m2-get-color-from-palette(theme.$accent);
}

#loader-text {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
}

#loader-container {
  padding-top: 50px;
}

#loader-logo {
  display: flex;
  height: 300px;
  width: 300px;
}

.card-input {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  mat-card.register-card {
    width: 450px;
  }
  #loader-logo {
    display: flex;
    height: 400px;
    width: 400px;
  }
}

@media screen and (min-width: 1200px) {
  mat-card.register-card {
    width: 450px;
  }
  #loader-logo {
    display: flex;
    height: 400px;
    width: 400px;
  }
}
