<div id="blog-container" class="container">
  <h1 id="blog-title">Blog - nauka angielskiego z StoryFlow</h1>
  <h2 id="blog-subtitle">
    Poradniki i artykuły o nauce angielskiego przez czytanie, quizy i historie z
    kotką Luną.
  </h2>
  <div id="blog-cards">
    <mat-card class="mat-card-blog">
      <mat-card-content class="mat-card-content-blog">
        <img
          class="mat-card-image image-standard"
          src="assets/blog/1.webp"
          alt=""
        />
        <div class="blog-card-information">
          <div class="blog-card-date">08.02.2026</div>
          <h3 class="blog-card-title">
            Jak nauczyć dziecko angielskiego przez czytanie
          </h3>
          <div class="blog-card-subtitle">
            Czytanie to jeden z najskuteczniejszych sposobów na naukę języka u
            dzieci. Sprawdź, jak wprowadzić angielskie historie do codziennej
            zabawy bez presji i nudnych ćwiczeń. Pokazujemy praktyczne
            wskazówki, które możesz zastosować już dziś.
          </div>
          <a
            class="link"
            routerLink="/blog/jak-nauczyc-dziecko-angielskiego"
          >
            Czytaj więcej
          </a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
