<div id="blog-container" class="container">
  <h1 id="blog-title">Blog - nauka angielskiego z StoryFlow</h1>
  <h2 id="blog-subtitle">
    Poradniki i artykuły o nauce angielskiego przez czytanie, quizy i historie z
    kotką Luną.
  </h2>
  <div id="blog-cards">
    @for (blogPost of blogPosts; track blogPost.id) {
      <mat-card class="mat-card-blog">
        <mat-card-content class="mat-card-content-blog">
          <img
            class="mat-card-image image-standard"
            src="assets/blog/1.webp"
            alt=""
          />
          <div class="blog-card-information">
            <div class="blog-card-date">
              {{ blogPost.publishedAt | date: "yyyy-MM-dd" : "UTC" }}
            </div>
            <h3 class="blog-card-meta-title">
              {{ blogPost.metaTitleContent }}
            </h3>
            <h4 class="blog-card-title">
              {{ blogPost.h2Title }}
            </h4>
            <a class="link" [routerLink]="'/blog/' + blogPost.slug">
              Czytaj więcej
            </a>
          </div>
        </mat-card-content>
      </mat-card>
    }
  </div>
</div>
