#blog-content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 20px 40px 20px;
}

#blog-content-title {
  padding-bottom: 20px;
}

#blog-content-subtitle {
  padding-bottom: 20px;
}

#navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.h3-title {
  font-size: 18px;
  padding: 10px 0;
}

.h3-text {
  font-size: 16px;
  line-height: 1.7; 
  padding-bottom: 20px;
}

#blog-content-image-div {
  display: flex;
  width: 100%;
  padding: 20px 0 40px 0;
}

.blog-content-image {
  display: flex;
  width: 90%;
  height: auto;
}

#blog-content-date {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #blog-content-container {
    text-align: center;
    padding: 20px 100px 40px 100px;
  }
  #blog-content-image-div {
    justify-content: center;
  }
  .blog-content-image {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  #blog-content-container {
    text-align: center;
    padding: 20px 200px 40px 100px;
  }
  #blog-content-image-div {
    justify-content: center;
  }
  .blog-content-image {
    width: 50%;
  }
}
