@if (blogPost) {
  <div
    id="blog-content-container"
    class="container"
    [ngClass]="{
      'light-mode-background-primary light-mode-text':
        (themeService.theme$ | async),
      'dark-mode-background-primary dark-mode-text': !(
        themeService.theme$ | async
      ),
    }"
  >
    <div class="blog-content-information">
      <div id="blog-content-date">
        {{ blogPost.publishedAt | date: "yyyy-MM-dd" : "UTC" }}
      </div>
      <h1 id="blog-content-title">
        {{ blogPost.metaTitleContent }}
      </h1>
      <h2 id="blog-content-subtitle">
        {{ blogPost.h2Title }}
      </h2>
      <div id="blog-content-image-div">
        <img
          class="blog-content-image image-standard"
          src="assets/blog/1.webp"
          alt=""
        />
      </div>
      <div id="blog-content-text">
        @for (section of blogPost.sections; track blogPost.id) {
          <h3 class="h3-title">
            {{ section.h3Title }}
          </h3>
          <p class="h3-text">
            {{ section.text }}
          </p>
        }
        @if (blogPost.summary) {
          <p class="h3-text">
            {{ blogPost.summary }}
          </p>
        }
        @if (blogPost.url) {
          <a
            class="link"
            [ngClass]="{
              'light-mode-text': (themeService.theme$ | async),
              'dark-mode-text': !(themeService.theme$ | async),
            }"
            [routerLink]="blogPost.url"
            >{{ blogPost.urlText }}</a
          >
        }
      </div>
    </div>
  </div>
}
