<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
	<targets>
		<target xsi:type="AsyncWrapper" name="asyncInfo">
			<target xsi:type="File"
					fileName="${basedir}/logs/info/${shortdate}_info.log"
					layout="${longdate} | ${level:uppercase=true} | ---------------------------------------------------------------------------------------------- |${newline}${newline}${logger} | ${message} ${exception:format=toString}${newline}" />
		</target>

		<target xsi:type="AsyncWrapper" name="asyncWarn">
			<target xsi:type="File"
					fileName="${basedir}/logs/warn/${shortdate}_warn.log"
					layout="${longdate} | ${level:uppercase=true} | ---------------------------------------------------------------------------------------------- |${newline}${newline}${logger} | ${message} ${exception:format=toString}${newline}" />
		</target>

		<target xsi:type="AsyncWrapper" name="asyncError">
			<target xsi:type="File"
					fileName="${basedir}/logs/error/${shortdate}_error.log"
					layout="${longdate} | ${level:uppercase=true} | ---------------------------------------------------------------------------------------------- |${newline}${newline}${logger} | ${message} ${exception:format=toString}${newline}" />
		</target>

		<target xsi:type="AsyncWrapper" name="asyncFatal">
			<target xsi:type="File"
					fileName="${basedir}/logs/fatal/${shortdate}_fatal.log"
					layout="${longdate} | ${level:uppercase=true} | ---------------------------------------------------------------------------------------------- |${newline}${newline}${logger} | ${message} ${exception:format=toString}${newline}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="asyncInfo" />
		<logger name="*" minlevel="Warn" writeTo="asyncWarn" />
		<logger name="*" minlevel="Error" writeTo="asyncError" />
		<logger name="*" minlevel="Fatal" writeTo="asyncFatal" />
	</rules>
</nlog>