@use "@angular/material" as mat;
@use "src/styles" as theme;

#filter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  background-color: mat.get-color-from-palette(theme.$accent);
}

#story-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: mat.get-color-from-palette(theme.$primary) !important;
  padding: 10px;
}

#no-story-information {
  padding: 20px 0;
  color: white;
}
.story-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: 10px;
  color: white;
}

.story-button {
  margin-right: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #story-container {
    min-height: calc(100vh - 160px);
  }
  #filter-container {
    flex-direction: row;
  }
  .filter-field {
    padding: 0 20px;
  }
}

@media screen and (min-width: 1200px) {
  #story-container {
    min-height: calc(100vh - 160px);
  }
  #filter-container {
    flex-direction: row;
  }
  .filter-field {
    padding: 0 20px;
  }
}
