@use "@angular/material" as mat;
@use "src/styles" as theme;

#container {
  display: flex;
  flex-direction: column;
}

#filter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  background-color: mat.get-color-from-palette(theme.$primary);
}

#story-container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding: 0 20px;
}
.story-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: 10px;
}

.story-button {
  margin-right: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #filter-container {
    flex-direction: row;
  }
  .filter-field{
    padding: 0 20px;
  }
}

@media screen and (min-width: 1200px) {
  #filter-container {
    flex-direction: row;
  }
    .filter-field{
    padding: 0 20px;
  }
}
