<div id="text-selection-container">
  <div>
    <form id="filter-container" [formGroup]="form" (ngSubmit)="get()">
      <mat-form-field class="filter-field">
        <mat-label>Category:</mat-label>
        <mat-select
          id="category"
          formControlName="category"
          (selectionChange)="get()"
        >
          <mat-option
            *ngFor="let category of categories"
            [value]="category.value"
            >{{ category.viewValue }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field class="filter-field">
        <mat-label>Language level:</mat-label>
        <mat-select
          id="languageLevel"
          formControlName="languageLevel"
          (selectionChange)="get()"
        >
          <mat-option
            *ngFor="let level of languageLevels"
            [value]="level.value"
            >{{ level.viewValue }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field class="filter-field">
        <mat-label>Story size:</mat-label>
        <mat-select id="size" formControlName="size" (selectionChange)="get()">
          <mat-option *ngFor="let size of sizes" [value]="size.value">{{
            size.viewValue
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
</div>
<div id="story-container">
  <div id="no-story-information" class="subtitle" *ngIf="stories.length === 0">
    No stories match your selected filters. Please try different filters.
  </div>
  <div *ngFor="let story of stories" class="story-item">
    <div class="story-card">
      <div class="story-card-title">{{ story.englishTitle }}</div>
      <div class="story-card-description">{{ story.englishDescription }}</div>
            <div class="story-card-language-level">
             {{ showLanguageLevel(story.languageLevel) }}
            </div>
                        <div class="story-card-story-size">
             {{ showSize(story.storySize) }}
            </div>
      <div class="story-card-button-container">
        <button
          mat-raised-button
          class="story-card-button"
          (click)="NavigateToTextDisplay(story.id)"
        >
          <div><mat-icon>auto_awesome</mat-icon></div>
        </button>
      </div>
      <div class="score">
        0 <mat-icon>star</mat-icon> / {{story.maxPoints}}<mat-icon>star</mat-icon>
      </div>
    </div>
  </div>
</div>
