@use "@angular/material" as mat;
@use "src/styles" as theme;

#story-create-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#story-container {
  display: flex;
  width: 100%;
  height: 200px;
}

#filter-container {
  display: flex;
  width: 100%;
  height: 200px;
  padding: 20px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  background-color: mat.get-color-from-palette(theme.$accent);
}
.submit-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

#submit-button-generate {
  color: mat.get-color-from-palette(theme.$accent);
  background-color: white;
  border: 1px solid transparent;
}

#information-no-quiz{
  padding: 0 50px;
  font-size: 20px;
}

#submit-button-generate:hover {
  background-color: #f2f2f2;
  border: 1px solid black;
}

.question-container {
  padding: 20px 50px;
}

.question-container-english-story {
  padding: 20px 0;
}

.question-container-questions {
  padding-bottom: 20px;
}

.question-container-question {
  padding-top: 5px;
}

.question-container-correct-answer {
  padding-top: 5px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #filter-container {
    flex-direction: row;
  }

  .submit-button-container {
    padding-left: 50px;
  }
}

@media screen and (min-width: 1200px) {
  #filter-container {
    flex-direction: row;
  }

  .submit-button-container {
    padding-left: 50px;
  }
}
