@if (stories.length) {
  <div
    id="story-create-container"
    class="container"
    [ngClass]="{
      'light-mode-background-primary light-mode-text':
        (themeService.theme$ | async),
      'dark-mode-background-primary dark-mode-text': !(
        themeService.theme$ | async
      ),
    }"
  >
    <h1
      id="h1-title"
      [ngClass]="{
        'light-mode-background light-mode-text': (themeService.theme$ | async),
        'dark-mode-background dark-mode-text': !(themeService.theme$ | async),
      }"
    >
      Tworzenie quizu
    </h1>
    <div
      id="story-container"
      [ngClass]="{
        'light-mode-background light-mode-text light-mode-border-bottom':
          (themeService.theme$ | async),
        'dark-mode-background dark-mode-text dark-mode-border-bottom': !(
          themeService.theme$ | async
        ),
      }"
    >
      <form
        id="filter-container"
        [formGroup]="form"
        (ngSubmit)="generateQuiz()"
      >
        <mat-form-field class="filter-field-create">
          <mat-label>Wybierz historię:</mat-label>
          <mat-select id="story" formControlName="story">
            @for (story of stories; track story.id) {
              <mat-option [value]="story.id">{{
                story.englishTitle
              }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <div class="submit-button-container">
          <button
            mat-raised-button
            id="submit-button-generate"
            class="button-app-reverse-color button-standard"
            type="submit"
          >
            Generuj
          </button>
        </div>
      </form>
    </div>
    @if (selectedStory && isResponse) {
      <div
        class="question-container"
        [ngClass]="{
          'light-mode-background-primary light-mode-text':
            (themeService.theme$ | async),
          'dark-mode-background-primary dark-mode-text': !(
            themeService.theme$ | async
          ),
        }"
      >
        <form [formGroup]="addForm" id="add-form" (ngSubmit)="add()">
          <div class="question-container-english-story">
            {{ selectedStory.englishStory }}
          </div>

          @for (question of generateQuizResponse!.questions; track question) {
            <div class="question-container-questions">
              <h3 class="question-container-question">
                {{ question.question }}
              </h3>

              <ul>
                @for (answer of question.answers; track answer) {
                  <li>
                    {{ answer }}
                  </li>
                }
              </ul>

              <p class="question-container-correct-answer">
                Correct answer:
                {{ question.answers[question.correctAnswerIndex] }}
              </p>
            </div>
          }
          <button
            mat-raised-button
            id="submit-button-create"
            class="button-app-reverse-color button-standard"
            [ngClass]="{
              'light-mode-border': (themeService.theme$ | async),
              'dark-mode-border': !(themeService.theme$ | async),
            }"
            type="submit"
          >
            Dodaj
          </button>
        </form>
      </div>
    }
  </div>
}
@if (stories.length == 0) {
  <div
    class="container"
    id="information-no-quiz"
    [ngClass]="{
      'light-mode-background-primary light-mode-text':
        (themeService.theme$ | async),
      'dark-mode-background-primary dark-mode-text': !(
        themeService.theme$ | async
      ),
    }"
  >
    Wszystkie historię mają już swoje quizy. Dodaj kolejną historię, aby mieć
    opcję dodania quizu.
  </div>
}
