@use "@angular/material" as mat;
@use "src/styles" as theme;

#story-create-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 0;
}

#h1-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  height: 100%;
  font-size: 24px;
  font-weight: 400;
  padding: 20px 0;
}

#story-container {
  display: flex;
  width: 100%;
}

#filter-container {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.submit-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

#information-no-quiz {
  padding: 0 50px;
  font-size: 20px;
}

.question-container {
  padding: 20px 50px 40px 50px;
}

.question-container-english-story {
  padding: 20px 0;
}

.question-container-questions {
  padding-bottom: 20px;
}

.question-container-question {
  padding-top: 5px;
}

.question-container-correct-answer {
  padding-top: 5px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #filter-container {
    flex-direction: row;
  }

  .submit-button-container {
    padding-left: 50px;
  }
}

@media screen and (min-width: 1200px) {
  #filter-container {
    flex-direction: row;
  }

  .submit-button-container {
    padding-left: 50px;
  }
}
