mat-card.login-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(90vw);
  height: 100%;
  min-width: 400px;
  padding: 40px 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  mat-card.login-card {
    width: calc(60vw - 20px);
  }
}

@media screen and (min-width: 1200px) {
  mat-card.login-card {
    width: calc(40vw - 20px);
  }
}
