<div id="login-container" class="container" *ngIf="!(loaderService.loading$ | async)">
  <form [formGroup]="form" (ngSubmit)="login()" autocomplete="off">
    <mat-card class="login-card">
      <mat-card-title id="card-title"
        >Gotowy do dalszej nauki? Zaloguj się.</mat-card-title
      >
      <mat-card-content>
        <mat-form-field class="card-input">
          <mat-label>E-mail</mat-label>
          <input class="input" matInput name="email" formControlName="email" />
          <mat-error
            *ngIf="
              form.get('email')?.hasError('required') &&
              form.get('email')?.touched
            "
          >
            Email jest wymagany.
          </mat-error>

          <mat-error
            *ngIf="
              form.get('email')?.hasError('email') && form.get('email')?.touched
            "
          >
            Wprowadź poprawny adres e-mail.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="card-input">
          <mat-label>Hasło</mat-label>
          <input
            class="input"
            matInput
            [type]="hidePassword() ? 'password' : 'text'"
            name="password"
            formControlName="password"
          />
          <button
            type="button"
            class="password-button"
            mat-icon-button
            matSuffix
            (click)="changePasswordVisibility($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword()"
          >
            <mat-icon>{{
              hidePassword() ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error
            *ngIf="
              form.get('password')?.hasError('required') &&
              form.get('password')?.touched
            "
          >
            Hasło jest wymagane.
          </mat-error>
        </mat-form-field>
        <div id="submit-button-container">
          <button
            mat-raised-button
            id="submit-login-button"
            class="submit-button"
            color="accent"
            type="submit"
          >
            Zaloguj
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
<div id="loader-container" class="container" *ngIf="loaderService.loading$ | async">
  <div id="loader-text">Zaraz zaczynamy...</div>
  <div id="loader-logo">
    <ng-lottie [options]="loaderService.animationOptions"></ng-lottie>
  </div>
</div>
