<div id="container">
  <form [formGroup]="form" (ngSubmit)="login()">
    <mat-card>
      <mat-card-content>
        <mat-card-title class="title">Login</mat-card-title>
        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input class="input" matInput name="email" formControlName="email" />
          <mat-error
            *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched"
          >
            Email is required.
          </mat-error>

          <mat-error
            *ngIf="form.get('email')?.hasError('email') && form.get('email')?.touched"
          >
            Please enter a valid email address.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="mt-5">
          <mat-label>Password</mat-label>
          <input
            class="input"
            matInput
            [type]="hide() ? 'password' : 'text'"
            name="password"
            formControlName="password"
          />
          <button
            type="button"
            class="password-button"
            matIconButton
            matSuffix
            (click)="changePasswordVisibility($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()"
          >
            <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error
            *ngIf="form.get('password')?.hasError('required') && form.get('password')?.touched"
          >
            Password is required.
          </mat-error>
        </mat-form-field>
        <div id="submit-button-container">
          <button mat-raised-button type="submit" class="mt-5">Login</button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
